{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}  

{% block css %}
{% endblock %}  
{% block content%}
    <br>
    <div class="container">

        {% include 'django_app/form_generique_modal.html' %}
        
        <table class="table table-hover">
            <thead>
              <tr class="table-active">
                <th scope="col">Nom</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Fréquent</th>
                <th scope="col">En présentiel</th>
                <th scope="col">Commentaire</th>
                <th scope="col">Classes</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event }}</td>
                    <td>{{ event.e_date_debut }}</td>
                    <td>{{ event.e_date_fin }}</td>
                    <td>{{ event.e_frequent }}</td>
                    <td>{{ event.e_is_presenciel }}</td>
                    <td>{{ event.e_commentaire }}</td>
                    <td>
                        {% for class in event.e_class.all %}
                            {{ class }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'django_app:coordinateurEventEdit' id=event.id %}">
                            <i class="fas fa-edit"></i>
                        </a>
                        |
                        <a href="{% url 'django_app:coordinateurEventDelete' id=event.id %}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                     </td>
                </tr>
            {% endfor %}                       
            </tbody>
          </table>
    </div>
{% endblock %}