{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}  
{% block content%}
    <br>
    <div class="container">
        <h1>Notes</h1>
        <br>
        <table class="table table-hover">
            <thead>
              <tr class="table-active">
                <th scope="col">Matière</th>
                <th scope="col">Intervenant(s)</th>
                <th scope="col">Coefficient</th>
                <th scope="col">Note(s)</th>
                <th scope="col">Moyenne</th>
              </tr>
            </thead>
            <tbody>
              {% for matiere,value in data.items %}
                <tr>
                    <td>{{ matiere }}</td>
                    <td>
                      {% for intervenant in value.intervenants %}
                        {{ intervenant }}
                      {% endfor %}
                    </td>
                    <td>
                      {{ value.coef }}
                    </td>
                    <td>
                      {% for note in value.notes %}
                          {% if note.type == "Examen" %}
                            <strong>{{ note.note }}</strong>
                          {% else %}
                            {{ note.note }}
                          {% endif %}
                      {% endfor %}
                    </td>
                    <td>
                      {{ value.moy }}
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Moyenne Général</label>
            <div class="col-sm-10">
              <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="{{ moy }}">
            </div>
          </div>
    </div>
{% endblock %}