{% extends 'base.html' %}
{% load static %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js"></script>
<script src="{% static 'django_app/js/planning.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/locales-all.min.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css">
{% endblock %}  
{% block content%}
    <br>
    <div class="container">
        <h1>Planning</h1>
        <div id='calendar'></div>
    </div>
{% endblock %}