{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %} 

{% block javascript %}
    <script src="{% static 'django_app/js/functions.js' %}"></script>
{% endblock %}

{% block content%}
    <br>
    <div class="container">
        <div>
            <h1>{{ course.m_name }}</h1>
            <figure>
                <blockquote class="blockquote">
                  <p>{{ course.m_description }}</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                  Coeff <cite title="Source Title">{{ course.m_coefficient }}</cite>
                </figcaption>
            </figure>
        </div>
        <br>
        <div class="mb-2">
            <button 
                type="button"
                class="btn btn-outline-secondary btn-block btn-active" 
                data-toggle="collapse"
                data-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
                onclick="test('collapse')"
            >
                Intervenants <i id="collapse" class="fas fa-chevron-up"></i> 
            </button>
            <div class="collapse mt-2" id="collapseExample">
                <table class="table table-hover">
                    <thead>
                      <tr class="table-active">
                        <th scope="col">Nom</th>
                        <th scope="col">Prenom</th>
                        <th scope="col">Adresse email</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for intervenant in course.m_profs.all %}
                        <tr>
                            <td>{{ intervenant.last_name }}</td>
                            <td>{{ intervenant.first_name }}</td>
                            <td>{{ intervenant.email|default:"---" }}</td>
                        </tr>
                    {% endfor %}                       
                    </tbody>
                  </table>
            </div>
        </div>
        {% if request.user.groups.all.0.name == "intervenant"  %}
            <div class="mb-2">
                <button 
                    type="button"
                    class="btn btn-outline-secondary btn-block btn-active" 
                    data-toggle="collapse"
                    data-target="#collapse_eleve"
                    aria-expanded="false"
                    aria-controls="collapse_eleve"
                    onclick="test('collapse_2')"
                >
                    Classes <i id="collapse_2" class="fas fa-chevron-up"></i> 
                </button>
                    <div class="collapse mt-2 mb-2" id="collapse_eleve">
                        <div class="row">
                            {% for classroom in classrooms %}
                                <div class="col-3 mb-2">
                                    <a href="{% url 'django_app:profCourseStudents' id=course.id class_id=classroom.id %}">
                                        <div class="card card-body text-center">
                                            {{ classroom.c_name }}
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}                       
                        </div>
                    </div>
                </div>
            {% endif %}
    </div>
{% endblock %}