{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}  
{% block content%}

    <br>
    <div class="container">
        <h1>Matières</h1>
        <br>
        <table class="table table-hover">
            <thead>
              <tr class="table-active">
                <th scope="col">Matière</th>
                <th scope="col">Intervenant</th>
                <th scope="col">Coefficient</th>
                <th scope="col">Type</th>
                <th scope="col">Note</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for note in notes.all %}
                <tr>
                    <th scope="row">{{ note.n_matiere }}</th>
                    <td>
                      {%for prof in note.n_matiere.m_profs.all %}
                          {{ prof }}
                      {% endfor %}
                    </td>
                    <td>{{ note.n_matiere.m_coefficient }}</td>
                    <td>{{ note.n_type }}</td>
                    <td>{{ note.n_note }}</td>
                    <td>
                      <div class="nav-item">
                        <a href="{% url 'django_app:home' %}"><i class="fas fa-edit"></i></a>
                        |
                        <a href="{% url 'django_app:NoteDelete' id=note.id %}"><i class="fas fa-trash-alt"></i></i></a>
                        </a>
                    </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
<div class="container" style="max-width: 970px;">
    <h1>Note</h1>
    <form method="POST" enctype="multipart/form-data">

        <!-- Security token -->
        {% csrf_token %}
    
        <!-- Using the formset -->
        {{ form }}
        
        <input type="submit" value="Submit">
    </form>
    
  </div>

    
{% endblock %}